@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --cream: #FFFDF6;
  --creamGelap: #FAF6E9;
  --ijoTerang: #DDEB9D;
  --ijo: #A0C878;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}
